h1 {
    font-family: 'Andika', sans-serif;font-size: 32px;
}
div {
    font-family: 'Andika';font-size: 16px;
}
code {
	display: block;
	white-space: pre-wrap;
	background: #FDFDFD;
	border: 1px solid #E8E8E8;
	color: #373636;
	font-size: 14px;
	line-height: 1.5;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;   
}
